*{

    margin: 0%;
    padding: 0%;

}

body {

    width: 40%;
    margin: 0 auto;
    margin-top: 10pt;

}

header{

    margin-bottom: 1%;
    text-align: center;
    background-color: cadetblue;

}
hr{

    height: 3px;
    background-color: gray;
    

}
article:nth-child(odd){

    background-color:rgb(223, 185, 253);
}
article:nth-child(even){

    background-color: rgb(170, 158, 211);
}
.titulo{

    margin-top: 0%;
    float: left;
    border-bottom-style: solid;
    border-bottom-color: aqua;
    line-height: 20pt;
    margin-left: 5px;

}
#centro{

    width: 90%;
    margin:0 auto;
    color: rgb(163, 41, 245);
    
}
article p, ul {

    margin-left: 40%;

}
article{

    line-height: 2em;
}

li {

    margin-left: 5%;

}

#baja {

    margin-top: 1%;
    background-color: rgb(11, 129, 129);
    text-align: center;
    font-size: 90%;
    padding: 7px;

}
footer a:visited{

background-color: black;
    
}