*{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.header{

    background-color: black;
    display: flex;
    flex-flow: column nowrap;
}

.logo, .nav, .social {

    background-color: red;
    
}
.logo, .social{
    flex-grow: 1;
}
.nav{
    flex-grow: 3;
}
.menu{
    background-color: rgb(54, 54, 206);
    display: flex;
    flex-flow: row nowrap;
}

.texto-principal{

    background-color: orange;
}

h1{
    
    background-color: yellow;
}

.section{
    margin-top: 1%;
    background-color: black;
    margin-bottom: 1%;
    display: flex;
    flex-flow: row wrap;
}

.articulos{
    background-color: rgb(93, 93, 230);
    display: flex;
    flex-flow: row wrap;
    flex-grow: 3;
}
.aside{
    background-color: red;
    flex-flow: row wrap;
    display: flex;
    flex: 1 auto;
    flex-grow: 1;
}

.article{
    background-color: rgb(59, 59, 206);
    flex: 40%;
}

.navegacion{
    flex: 1 100%;
    background-color: azure;
}

.publicidad{
    background-color: bisque;
    flex: 1 100%;
}

.footer{
    background-color: black;
    justify-content: center;
    display: flex;
}

.pie{
    background-color: rgb(223, 163, 91);
    width: 30%;
}